:root {
    --lightGray: #F5F3EF;
    --white: #FFFFFF;
    --yellow: #FEBD2F;
    --black: #000000;
    --darkGray: #646464;
    --mediumGray: #DCDCDC;

    --fontWeightMedium: 500;
    --fontWeightBold: 700;
}

/* Universal */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--lightGray);
    font-size: 16px;
    margin: 0 auto;
}

h1 {
    font-family: Roboto Serif;
    font-size: 4rem;
    font-weight: var(--fontWeightMedium);
    line-height: 4.6875rem;
}

h2{
    font-family: Roboto Serif;
    font-size: 2.5rem;
    font-weight: var(--fontWeightMedium);
}

h3 {
    font-family: Roboto Serif;
    font-size: 1.5rem;
    font-weight: var(--fontWeightBold);
}

.container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "banner banner banner"
    "courseCardsSection courseCardsSection courseCardsSection"
    "footer footer footer";
    padding: 1.625rem 5rem 0 5rem;
}

/* Header */

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: var(--black);
    font-weight: var(--fontWeightMedium);
}

.courses {
    margin-right: 2rem;
}

.bars {
    display: none;
}

.headerButton {
    font-family: roboto;
    font-size: 1.125rem;
    font-weight: var(--fontWeightMedium);
    background-color: var(--black);
    color: var(--white);
    width: 8.125rem;
    height: 3rem;
    border-radius: 1.5rem;
}

/* Banner */

.banner {
    grid-area: banner;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.bannerText {
    margin-right: 6.25rem;
}

.bannerText p {
    font-family: roboto;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--darkGray);
}

.banner img {
    width: 37.5rem;
    height: 27.5rem;
}

/* Course Card Section */

.courseCardsSection {
    grid-area: courseCardsSection;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: minmax(100px, auto);
    gap: 6rem 3rem;
    margin-top: 8rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* width: 25rem;
    height: 20.25rem; */
    border-radius: 2.5rem;
    background-color: var(--white);
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    padding: 2.5rem;
}

.heading {
    background-color: var(--yellow);
}

.card-image {
    position: absolute;
    top: -40px;
    right: 40px;
}

.card p {
    font-family: Roboto;
    font-size: 1.125rem;
    color: var(--darkGray);
}

.card button {
    font-family: Roboto;
    font-weight: var(--fontWeightMedium);
    width: 8.9375rem;
    height: 3rem;
    background-color: var(--white);
    border: 1px solid var(--mediumGray);
    border-radius: 3.125rem;
}

/* Footer */

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    height: 5rem;
    margin-top: 8rem;
    
}

.footer img {
    width: 8.10125rem;
    height: 2rem;
}

/* Media Queries */

/* Tablet */

@media screen and (max-width: 768px) {
    .container {
        padding: 1.625rem 1.625rem 0 1.625rem;
        width: auto;
    }

    h1 {
        font-size: 3rem;
        line-height: 3.513125rem;
    }

    .banner {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2.5rem;
    }

    .bannerText {
        margin: 0;
    }

    .banner p {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .banner img {
        width: 100%;
    }

    .courseCardsSection {
        grid-template-columns: repeat(2, auto);
        margin-top: 5rem;
    }

    .footer {
        margin-top: 5rem;
    }
}

/* Mobile */

@media screen and (max-width: 425px) {
    .container {
        padding: 1.625rem 1.625rem 0 1.625rem;
    }

    .header {
        position: relative;
        justify-content: center;
    }

    .nav a{
        display: none;
    }

    .bars {
        position: absolute;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        right: 0.5rem;
    }

    .header button {
        display: none;
    }

    h1 {
        font-size: 2rem;
        line-height: 2.635rem;
    }

    .bannerText {
        margin: 0;
    }

    .banner p {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .banner img {
        margin: 0;
    }

    .courseCardsSection {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .heading {
        height: 8.25rem;
    }

    .heading h2 {
        font-size: 2rem;
        line-height: 1.75625rem;
    }

    .card p {
        line-height: 1.5rem;
    }
}